################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/corebase/bin/Debug/netcoreapp1.1
/corebase/obj
/corebase/obj
/corebase/obj
/db/obj
/common/obj
/common/bin/Debug/netcoreapp1.1
/db/bin/Debug/netcoreapp1.1
